.search-bar-area {
    padding-top: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar-area form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.search-bar-area input {
    height: 30px;
    border-radius: 100px;
    border: none;
    padding: 5px 20px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.search-bar-area button {
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    background-color: rgb(6, 6, 67);
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}