.search-bar-area {
    display: flex;
    padding: 80px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-bar-area form {
    display: flex;
    flex-direction: column;
}

.search-bar-area input {
    height: 30px;
    border-radius: 100px;
    border: none;
    padding: 5px 20px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.search-bar-area button {
    padding: 20px 40px;
    border: none;
    border-radius: 100px;
    background-color: #DD4B4B;
    color: white;
    font-size: 28px;
    /* text-transform: uppercase; */
}

.search-bar-area button:hover {
    transform: scale(1.1);
    transition-duration: .5s;
    transition-property: transform;
    cursor: pointer;
}