.welcome-screen {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.welcome-screen button {
    margin: 0;
    padding: 12px 30px;
    background-color: rgb(74, 13, 79);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    text-transform: uppercase;
  }

.welcome-screen button:hover {
    transform: scale(1.1);
    transition-duration: .5s;
    transition-property: transform;
    cursor: pointer;
}

.welcome-screen p {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    color: #472206;
    margin-bottom: 50px;
}

.welcome-screen h1 {
    color: #472206;
    font-weight: 500;
}

.welcome-screen h2 {
    color: #DD4B4B;
    margin-bottom: 24px;
    font-weight: 500;
}